<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/recordes.css">
    <title>Recordes Pessoais</title>
</head>
<body>
    <a href="/logout"><button>Logout</button></a>
    <main>
        <header><h1>Seus Recordes</h1>
        </header>
        <table>
            <tr>
                <th>Nome</th>
                <th>Segundos</th>
                <th>Data</th>
            </tr>
            <% for (let i=0; i < dados.length; i++) { %>

            <tr>
                <td><%= dados[i].nome %></td>
                <td><%= dados[i].segundos %></td>
                <td><%= dados[i].data %></td>
            </tr>
            <% } %>
        </table>
    </main>
    
    <a href="/pages/game.html"><button>Jogar novamente</button></a>
    <a href="/pages/ranking-geral"><button>Ranking Geral</button></a>
</body>
</html>